{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gallery
{% endblock title %}

{% block description %}
    Please make abooking here
{% endblock description %}

{% block custom_styles %}
<style>
    
/* Bookings  */
#bookings{
    background-image: url(/static/app/images/background.jpg);
    background-color: #424448;
}
#bookings .box{
    background-color: #ffffff83;
    border-radius: 2px !important;
}
</style>
{% endblock custom_styles %}


{% block content %}


<!-- Bookings -->
<section class="section" id="bookings">
    <div class="container">
        <h2 class="title is-3 has-text-centered mb-6 has-text-white">Book Your Session</h2>
        <div class="columns is-vcentered">
            <!-- Left Column: Studio Image -->
            <div class="column is-half">
                <figure class="image">
                    <img class="is-rounded" src="/static/app/images/book-session.jpg" alt="Tinshots Photography Studio Session Booking">
                </figure>
            </div>

            <!-- Right Column: Booking Form -->
            <div class="column is-half">
                <div class="box">
                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Shoot Type</label>
                            <div class="control">
                                {{ form.shoot_type }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Full Name</label>
                            <div class="control">
                                {{ form.full_name }}
                            </div>
                        </div>
                        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Phone</label>
                                    <div class="control">
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Date</label>
                                    <div class="control">
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Time</label>
                                    <div class="control">
                                        {{ form.time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth is-danger"  type="submit">Submit Booking</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



    
{% endblock content %}



