{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gallery
{% endblock title %}

{% block description %}
    Here is the collection of my work -  please enjoy
{% endblock description %}

{% block custom_styles %}
<style>
    /* Gallery Grid Container */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 10px; /* Space between items */
}

/* Gallery Item */
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Gallery Image */
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills its container without distortion */
    display: block;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-image {
    opacity: 0.9;
}

/* Bookings  */
#bookings{
    background-image: url(/static/app/images/background.jpg);
    background-color: #424448;
}
#bookings .box{
    background-color: #ffffff83;
    border-radius: 2px !important;
}
.gallery-description{
    margin: auto;
    max-width: 600px;
}
/* Pagination */
.pagination a{
    border-radius: 2px;
}
.pagination-link.is-current{
    background-color: #f14668!important;
    border-color: #f14668;
}

</style>
<!-- <script src="{% static 'app/js/fslightbox.js' %}"></script> -->
<script src="{% static 'app/js/fslightbox.js' %}" defer></script>
<!-- Alternatively, use the CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.min.js"></script>

{% endblock custom_styles %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Gallery</h1>
        <div class="has-text-centered mb-5">
            <p class="subtitle has-text-centered gallery-description">
                Welcome to our photography gallery! Explore our work and book your session today to create unforgettable memories. 
                <br>
                <a href="#bookings" class="button is-danger is-large mt-4">Book Now</a>
            </p>
        </div>

        <div class="gallery-grid">
            
            {% for image in images %}
            <div class="gallery-item">
                <a href="{{ image.image.url }}" data-fslightbox="gallery">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="gallery-image">
                </a>
            </div>
            {% endfor %}

        </div>
        <!-- Pagination -->
        <nav class="pagination is-centered mt-5" role="navigation" aria-label="pagination">
            {% if images.has_previous %}
            <a class="pagination-previous" href="?page={{ images.previous_page_number }}">Previous</a>
            {% else %}
            <a class="pagination-previous" disabled>Previous</a>
            {% endif %}

            {% if images.has_next %}
            <a class="pagination-next" href="?page={{ images.next_page_number }}">Next</a>
            {% else %}
            <a class="pagination-next" disabled>Next</a>
            {% endif %}

            <ul class="pagination-list">
                {% for num in images.paginator.page_range %}
                <li>
                    <a class="pagination-link {% if num == images.number %}is-current{% endif %}" href="?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</section>
<!-- Bookings -->
<section class="section" id="bookings">
    <div class="container">
        <h2 class="title is-3 has-text-centered mb-6 has-text-white">Book Your Session</h2>
        <div class="columns is-vcentered">
            <!-- Left Column: Studio Image -->
            <div class="column is-half">
                <figure class="image">
                    <img class="is-rounded" src="/static/app/images/book-session.jpg" alt="Tinshots Photography Studio Session Booking">
                </figure>
            </div>

            <!-- Right Column: Booking Form -->
            <div class="column is-half">
                <div class="box">
                    <div class="contact-buttons mb-5">
                        <a href="https://wa.me/c/254794156382" class="button is-medium">                        
                            <span class="icon">
                                <i class="fab fa-whatsapp"></i>
                            </span>
                            <span>Book Via WhatsApp</span>
                        </a>
                        <a href="tel:+254794156382" class="button is-medium">                        
                            <span class="icon">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span>Call +254794156382</span>
                        </a>
                        <a href="mailto:tinshotsphotography@gmail.com" class="button is-medium">                        
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span>Book Via Email</span>
                        </a>
                    </div>
                    <div class="divider-container ">
                        <span>OR Manually</span>
                    </div>
                    <form method="post" action="{% url 'bookings' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Shoot Type</label>
                            <div class="control">
                                {{ form.shoot_type }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Full Name</label>
                            <div class="control">
                                {{ form.full_name }}
                            </div>
                        </div>
                        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Phone</label>
                                    <div class="control">
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Date</label>
                                    <div class="control">
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Time</label>
                                    <div class="control">
                                        {{ form.time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth is-danger"  type="submit">Submit Booking</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}




{% block script %}
<!-- Add any JavaScript here if needed -->
{% endblock script %}